.navbar{
  background-color: white !important;
  color: #000 !important;
  margin: 0 !important;
  padding: 0 !important;
}
.nav-items{
  display: flex ;
 }
.search{
  display: flex !important;
  border: 0.3px solid rgb(138, 132, 132);
  width: 27rem !important;
  border-radius: 1rem !important;
}

@media only screen and (max-width: 800px) {
 .search {
  display: none !important;
 }
 .n-p{
  display: none !important;
}
 .nav-items{
  display: none !important;
 }
}

*{
  box-sizing: border-box;
  margin: 0 ;
  padding: 0 ;
}

.navbar{
  background-color: white !important;
  color: #000 !important;
  margin: 0 !important;
  padding: 0 !important;
}
.nav-items{
  display: flex ;
 }
.search{
  display: flex !important;
  border: 0.3px solid rgb(138, 132, 132);
  width: 27rem !important;
  border-radius: 1rem !important;
}

@media only screen and (max-width: 750px) {
 .search {
  display: none !important;
 }
 .nav-items{
  display: none !important;
 }
 .card{
  min-width: 320px !important;
  background-color: white !important;
}
}

*{
  box-sizing: border-box;
  margin: 0 ;
  padding: 0 ;
}
.categories {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
  overflow-x: auto; 

  scroll-snap-type: x mandatory;
  white-space: nowrap; /* Prevents wrapping to the next line */
}
.home-cards {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  overflow-x: auto; 
  &::-webkit-scrollbar {
    display: none; 
  }
}
.n-p{
  display: flex;
}
.couggrse{
  width: 17rem;
  height: 17rem !important;
}
.category {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  justify-content: flex-start; 
  color: black !important;
  width: 100%;
  gap: 2rem;
  padding-left: 1rem;
  -ms-overflow-style: none;  
  scrollbar-width: none;  

  &::-webkit-scrollbar {
    display: none; 
  }
}

.course{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}